section.section-courses#courses
  .container
    .content
      .content-header
        h2 Курсы
      .content-left
        ul.filter-list
          li.is-active.ga_filter_games
            .filter-list-pic.games
            .filter-list-info
              .filter-list-info-title Факультет GameDev
              .filter-list-info-age 14-16 лет
          li.ga_filter_code
            .filter-list-pic.code
            .filter-list-info
              .filter-list-info-title Факультет IT
              .filter-list-info-age 14-16 лет
          li.ga_filter_kids
            .filter-list-pic.kids
            .filter-list-info
              .filter-list-info-title Кружковые занятия
              .filter-list-info-age 10-13 лет
          li.ga_filter_random
            .filter-list-pic.random
            .filter-list-info.-single-title
              .filter-list-info-title Дополнительно
        
      .content-right
        ul.course-list.course-list1.is-active
          li
            a.course(target="_blank" href="/gamecoding").ga_web
              .course-animation
              .course-info
                .course-info-title Игровая разработка
                .course-info-desc Программирование компьютерных игр на языке C#
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  07.11
                  .course-info-time-content
                    span  2 учебных года
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-unity-1.jpg")
          
          li
            a.course(target="_blank" href="/concept-art").ga_web
              .course-animation
              .course-info
                .course-info-title Концепт-арт
                .course-info-desc Цифровая живопись, создание игровых концептов
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  по набору группы
                  .course-info-time-content
                    span  2 учебных года
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-concept-art.jpg")
          li
            a.course(target="_blank" href="/level-design").ga_web
              .course-animation
              .course-info
                .course-info-title Дизайн игровых уровней
                .course-info-desc Создание игровых уровней и 3D моделирование
                .course-info-time
                  .course-info-time-content
                    span  Набор закрыт
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-level.jpg")
                  
        ul.course-list.course-list2
          li
            a.course(target="_blank" href="/data-science").ga_web
              .course-animation
              .course-info
                .course-info-title Машинное обучение
                .course-info-desc Исследование данных, искусственный интеллект, математика
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  29.10
                  .course-info-time-content
                    span  2 учебных года
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-data-science-1.jpg")
          li
            a.course(target="_blank" href="/web").ga_web
              .course-animation
              .course-info
                .course-info-title Разработка сайтов
                .course-info-desc Создание сайтов от основ до работы с популярными фреймворками
                .course-info-time
                  .course-info-time-content
                    span  Набор закрыт
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-web-1.jpg")
          li
            a.course(target="_blank" href="/android").ga_web
              .course-animation
              .course-info
                .course-info-title Мобильная разработка
                .course-info-desc Разработка мобильных приложений от прототипа до Google Play
                .course-info-time
                  .course-info-time-content
                    span  Набор закрыт
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-android.jpg")
          
          
        ul.course-list.course-list3

          li
            a.course(target="_blank" href="/2dgames").ga_web
              .course-animation
              .course-info
                .course-info-title Создание 2D игр
                .course-info-desc Игровая разработка на движке Construct 2
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  29.10 
                  .course-info-time-content
                    span  3 месяца
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-2d-games-1.jpg")
          li
            a.course(target="_blank" href="/scratch").ga_web
              .course-animation
              .course-info.-high-block
                .course-info-title Основы программирования
                .course-info-desc Изучение базовых концепций программирования на языке Scratch
                .course-info-time
                  .course-info-time-content
                    span  набор закрыт
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-scratch.jpg")
          li
            a.course(target="_blank" href="/math").ga_web
              .course-animation
              .course-info.-high-block
                .course-info-title Кружок компьютерной математики
                .course-info-desc Развитие интереса к математике и точным наукам через проекты
                .course-info-time
                  .course-info-time-content
                    span  набор закрыт
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-math.jpg")
          

        

        ul.course-list.course-list4

          li
            a.course(target="_blank" href="/leto").ga_web
              .course-animation
              .course-info
                .course-info-title Летняя ИТ-программа
                .course-info-desc Общая обзорная по миру ИТ
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  июнь 2018
                  .course-info-time-content
                    span  3 недели
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/preview-leto-main.jpg")
          li
            a.course(target="_blank" href="/english").ga_web
              .course-animation
              .course-info
                .course-info-title Английский язык для ИТ
                .course-info-desc От первых технических слов до защиты своего проекта
                .course-info-time
                  .course-info-time-content
                    | Старт 
                    span  в ноябре
                  .course-info-time-content
                    span  7 месяцев
                  
                .course-info-btn Подробнее
              .course-pic-container
                img(src="/assets/img/teacher-english.jpg")


      
          
    .ui-btn.form-btn__person.js-formBtn.ga_sign_mobile Подать заявку