script(type="text/javascript" src="https://vk.com/js/api/share.js?9" charset="windows-1251")
script(type="text/javascript" src="https://vk.com/js/api/openapi.js?147")

script(type="text/javascript").
  (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter42684644 = new Ya.Metrika({ id:42684644, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks")

noscript
  div
    img(src="https://mc.yandex.ru/watch/42684644" style="position:absolute; left:-9999px;" alt="")